<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Own vote
            |
            Message ID: {{vrc.votingResult.messageId}}
            |
            Status: {{vrc.votingResult.status}}</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="question in vrc.votingResult.questions" class="voting-item" voting-result="question" total-votes="vrc.votingResult.amount">
          </div>
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-xs-12">
                <button type="button" class="btn btn-default" ng-hide="vrc.showReceipt" ng-click="vrc.showReceipt = true">Show receipt</button>
                <button type="button" class="btn btn-default" ng-show="vrc.showReceipt" ng-click="vrc.showReceipt = false">Hide receipt</button>
              </div>
            </div>
          </div>
          <div ng-show="vrc.showReceipt" class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-3 control-label">ID</label>
              <div class="col-xs-9">
                <p class="form-control-static">
                  {{vrc.votingResult.messageId}}
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label">Vote time</label>
              <div class="col-xs-9">
                <p class="form-control-static">
                  {{vrc.votingResult.voteTime | date: 'shortDate'}} {{vrc.votingResult.timestamp | date: 'mediumTime'}}
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="signContent">Signing content</label>
              <div class="col-xs-9">
                <textarea class="form-control" name="signContent" id="signContent" cols="30" rows="10" ng-model="vrc.votingResult.xml"></textarea>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="col-xs-3 control-label" for="signature">Signature key</label>
              <div class="col-xs-9">
                <textarea class="form-control" name="signKey" id="signature" cols="30" rows="10" ng-model="vrc.votingResult.signature"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-center">
          <button type="button" class="btn btn-default btn-spacing btn-80" ng-click="vrc.cancel()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
