<div class="container">
  <h2 class="page-title">All votings</h2>
  <table class="table table-striped table-custom">
    <tr>
      <th>Message Id</th>
      <th>Status</th>
      <th>Vote sign</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="votingStatus in avsc.votingStatuses">
      <td>
        <span class="voting-title">{{votingStatus.messageId}}</span>
      </td>
      <td>
        {{votingStatus.status}}
      </td>
      <td>
        {{votingStatus.voteSign}}
      </td>
    </tr>
  </table>
  <div class="panel-footer text-center">
    <button type="button" class="btn btn-default btn-spacing btn-80" ng-click="avsc.cancel()">Back</button>
  </div>
</div>
