<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="logs/e-voting-client.log"/>
        <param name="append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="fileWarnAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="logs/e-voting-client-warn.log"/>
        <param name="append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{2} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="error"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="warn"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>

    <category name="uk.dsxt.votingclient">
        <level value="debug"/>
    </category>

    <root>
        <level value="info"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="fileWarnAppender"/>
    </root>

</log4j:configuration>