<div class="login-panel">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
          </div>
          <div class="panel-body form-horizontal">
            <div class="form-group">
              <label for="login" class="col-xs-3 control-label text-left">Login:</label>
              <div class="col-xs-9">
                <input type="text" class="form-control" id="login" name="login" ng-model="sic.login"></div>
            </div>
            <div class="form-group">
              <label for="password" class="col-xs-3 control-label text-left">Password:</label>
              <div class="col-xs-9">
                <input type="password" class="form-control" id="password" name="password" ng-model="sic.password"></div>
            </div>
          </div>
          <div class="panel-footer text-center">
            <button type="button" class="btn btn-primary" ng-click="sic.signIn(sic.login, sic.password)">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
