<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'voting.VOTING' | i18n}}</h3>
        </div>
        <div class="panel-body">
          <div voting-countdown="vc.votingCountdown"></div>
          <div ng-repeat="question in vc.voting" voting-question="question" voting-choice="vc.votingChoice" total-votes="vc.totalVotes" ng-if="vc.phase === 1" class="voting-item"></div>
          <div ng-if="vc.phase === 2">
            <div ng-repeat="question in vc.voting" class="voting-item" voting-result="question" total-votes="vc.totalVotes"></div>

            <div class="checkbox voting-item">
              <label class="voting-item-title">
                <input type="checkbox" id="signVote" name="signVote" ng-model="vc.isSign"> {{'voting.SIGN_VOTE' | i18n}}
              </label>
            </div>

            <div ng-if="vc.isSign" class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-default" ng-hide="vc.showSigningContent" ng-click="vc.showSigningContent = true">{{'voting.SHOW' | i18n}}</button>
                  <button type="button" class="btn btn-default" ng-show="vc.showSigningContent" ng-click="vc.showSigningContent = false">{{'voting.HIDE' | i18n}}</button>
                </div>
              </div>

              <div class="form-group" ng-show="vc.showSigningContent">
                <br>
                <label class="col-xs-3 control-label" for="signContent">{{'voting.CONTENT' | i18n}}</label>
                <div class="col-xs-9">
                  <textarea class="form-control" name="signKey" id="signContent" cols="30" rows="10"
                            ng-model="vc.xml"></textarea>
                </div>
              </div>
              <div class="form-horizontal">
                <br>
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="signKey">{{'voting.KEY' | i18n}}</label>
                  <div class="col-xs-9">
                    <textarea class="form-control" name="signKey" id="signKey" cols="30" rows="10"
                              ng-model="vc.signKey"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="vc.phase === 3" class="form-horizontal">
            <h3 class="panel-title">{{'voting.ACCEPTED' | i18n}}</h3>
          </div>
        </div>
        <div class="panel-footer text-center">
          <button type="button" class="btn btn-default btn-spacing btn-80" ng-click="vc.cancel()" ng-if="vc.phase < 3">{{'voting.CANCEL' | i18n}}</button>
          <button type="button" class="btn btn-default btn-spacing btn-80" ng-click="vc.cancel()" ng-if="vc.phase === 3">{{'voting.FINISH' | i18n}}</button>
          <button type="button" class="btn btn-default btn-primary btn-spacing btn-80"
                  ng-click="(vc.votingCountdown > 0) && vc.vote()" ng-disabled="vc.votingCountdown <= 0"
                  ng-if="vc.phase === 1">{{'voting.VOTE' | i18n}}
          </button>
          <button type="button" class="btn btn-default btn-primary btn-spacing btn-80"
                  ng-click="(vc.signKey != '' || !vc.isSign) && vc.sign()" ng-disabled="vc.signKey == '' && vc.isSign"
                  ng-if="vc.phase === 2">{{'voting.SIGN' | i18n}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
