<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Voting</h3>
        </div>
        <div class="panel-body">
          <div voting-countdown="vc.votingCountdown"></div>
          <div ng-repeat="question in vc.voting" voting-question="question" voting-choice="vc.votingChoice" total-votes="vc.totalVotes"></div>
        </div>
        <div class="panel-footer text-center">
          <button type="button" class="btn btn-default btn-spacing btn-80" ng-click="vc.cancel()">Cancel</button>
          <button type="button" class="btn btn-default btn-primary btn-spacing btn-80" ng-click="(vc.votingCountdown > 0) && vc.vote()" ng-disabled="vc.votingCountdown <= 0">Vote</button>
        </div>
      </div>
    </div>
  </div>
</div>
