<div class="container">
  <h2 class="page-title">Votings list</h2>
  <table class="table table-striped table-custom">
    <tr>
      <th>Name:</th>
      <th>Begin:</th>
      <th>End:</th>
      <th>Action:</th>
    </tr>
    <tr ng-repeat="voting in vlc.votingList">
      <td>
        <span class="voting-title">{{voting.name}}</span>
      </td>
      <td>
        <span class="voting-date">
          {{voting.beginTimestamp | date: 'shortDate'}} {{voting.beginTimestamp | date: 'mediumTime'}}
        </span>
      </td>
      <td>
        <span class="voting-date">
          {{voting.endTimestamp | date: 'shortDate'}} {{voting.endTimestamp | date: 'mediumTime'}}
        </span>
      </td>
      <td ng-if="voting.active">
        <button
          type="button"
          class="voting-btn btn-sm btn btn-success"
          ng-disabled="!voting.canVote"
          access="vlc.roleEnums.roles.user" access-permission-type="vlc.roleEnums.permissionTypes.atLeastOne"
          ng-click="voting.canVote && vlc.showVoteRelatedPage('voting', voting.id)">
          Vote
        </button>
        <button
                type="button"
                class="voting-btn btn-sm btn btn-default"
                access="vlc.roleEnums.roles.admin" access-permission-type="vlc.roleEnums.permissionTypes.atLeastOne"
                ng-click="vlc.showVoteRelatedPage('confirmedVotes', voting.id)">
          Confirmed votes
        </button>
      </td>
      <td ng-if="!voting.active">
        <button
          type="button"
          class="voting-btn btn-sm btn btn-default"
          access="vlc.roleEnums.roles.user" access-permission-type="vlc.roleEnums.permissionTypes.atLeastOne"
          ng-click="vlc.showVoteRelatedPage('votingResult', voting.id)">
          Results
        </button>
        <button
          type="button"
          class="voting-btn btn-sm btn btn-default"
          access="vlc.roleEnums.roles.admin" access-permission-type="vlc.roleEnums.permissionTypes.atLeastOne"
          ng-click="vlc.showVoteRelatedPage('confirmedVotes', voting.id)">
          Confirmed votes
        </button>
        <button
          type="button"
          class="voting-btn btn-sm btn btn-default"
          access="vlc.roleEnums.roles.user" access-permission-type="vlc.roleEnums.permissionTypes.atLeastOne"
          ng-click="vlc.showVoteRelatedPage('votingTotalResult', voting.id)">
          Total votes
        </button>
      </td>
    </tr>
  </table>
</div>
