<div class="poll-item">
  <div class="form-group">
    <strong class="poll-item-title">{{question.question}}</strong>
  </div>
  <div ng-if="question.canSelectMultiple" class="form-horizontal">
    <div ng-repeat="answer in question.answers" class="form-group">
      <label
        for="question-{{question.id}}-answer-{{answer.id}}"
        class="col-xs-3 control-label text-left">
        {{answer.name}}
      </label>
      <div class="col-xs-9">
        <input
          type="text"
          class="form-control"
          id="question-{{question.id}}-answer-{{answer.id}}"
          name="question-{{question.id}}-answer-{{answer.id}}"
          ng-model="votingChoice[question.id][answer.id]">
      </div>
    </div>
  </div>
  <div ng-if="!question.canSelectMultiple">
    <div ng-repeat="answer in question.answers" class="radio">
      <label>
        <input
          type="radio"
          name="question-{{question.id}}"
          id="question-{{question.id}}-answer-{{answer.id}}"
          ng-model="votingChoice[question.id][answer.id]"
          ng-value="totalVotes"/>
        {{answer.name}}
      </label>
    </div>
  </div>
</div>

