<div class="countdown" ng-class="{'countdown-expired': votingCountdown <= 0, 'countdown-loading': (isServerUpdateInProcess && votingCountdown > 0)}">
  <span class="countdown-text" ng-if="votingCountdown > 0">{{'votingCountdown.REMAINING' | i18n}}:</span>
  <span class="countdown-text" ng-if="votingCountdown <= 0">{{'votingCountdown.VOTING_OVER' | i18n}}</span>

  <div class="countdown-timer">
    <span class="countdown-digit">{{timer.days}}</span>
    <span class="countdown-divider">:</span>
    <span class="countdown-digit">{{timer.hours}}</span>
    <span class="countdown-divider">:</span>
    <span class="countdown-digit">{{timer.minutes}}</span>
    <span class="countdown-divider">:</span>
    <span class="countdown-digit">{{timer.seconds}}</span>
    <img src="images/loader-dots.svg" class="countdown-loader" width="60" height="15">
  </div>

</div>
