<div class="countdown" ng-class="{'countdown-expired': votingCountdown <= 0, 'countdown-loading': (isServerUpdateInProcess && votingCountdown > 0)}">
  <span class="countdown-text" ng-if="votingCountdown > 0">До окончания голосования осталось:</span>
  <span class="countdown-text" ng-if="votingCountdown <= 0">Голосование окончено</span>

  <div class="countdown-timer">
    <span class="countdown-digit">{{timer.days}}</span>
    <span class="countdown-divider">:</span>
    <span class="countdown-digit">{{timer.hours}}</span>
    <span class="countdown-divider">:</span>
    <span class="countdown-digit">{{timer.minutes}}</span>
    <span class="countdown-divider">:</span>
    <span class="countdown-digit">{{timer.seconds}}</span>
    <img src="images/loader-dots.svg" class="countdown-loader" width="60" height="15">
  </div>

</div>
