.countdown {
  margin: 0 0 24px;
  padding: 8px 16px;
  border: 1px solid $c_bd_table;
  background: $bg_gray;

  white-space: nowrap;
  font-weight: 700;
  font-size: 0;
  text-align: center;
}

.countdown-expired {
  color: $c_error;

  .countdown-timer:before {
    background-image: url('../images/alarm-red.png')
  }
}

.countdown-loading {

  .countdown-timer:before,
  .countdown-digit,
  .countdown-divider {
    opacity: .3;
  }

  .countdown-loader {
    display: block;
    opacity: 1;
  }
}

.countdown-timer {
  display: inline-block;
  vertical-align: top;
  min-height: 30px;
  position: relative;


  &:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url('../images/alarm.png') 0 0 no-repeat;
    margin-right: 4px;
  }
}

.countdown-text {
  display: block;
  font-size: 18px;
  margin-bottom: 4px;
  color: #333;
}

.countdown-digit {
  display: inline-block;
  vertical-align: top;
  min-width: 32px;
  text-align: right;

  font-size: 24px;
  transition: opacity .2s;
}

.countdown-divider {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;

  font-size: 20px;
  margin-left: 4px;
  transition: opacity .2s;
}

.countdown-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  opacity: 0;
  transition: opacity .2s;
}
