.voting-item {
  display: block;
  margin: 0 0 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.voting-item-result {
  padding-bottom: 10px;
  border-bottom: 1px solid $c_bd;
}

.voting-item-title {
  display: block;
  font-size: $fz_big;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
  right: 24px;

  label& {
    font-weight: 700;
    user-select: none;
  }
}
