<div class="container">
  <!-- <h2 class="page-title">
    <input type="radio" ng-model="volc.votesType" value="confirmed" id="confirmed-votes" ng-change="volc.getVotes(volc.votesType)">
    <label for="confirmed-votes">Confirmed votes list</label>
    <input type="radio" ng-model="volc.votesType" value="all" id="all-votes" ng-change="volc.getVotes(volc.votesType)">
    <label for="all-votes">All votes list</label>
  </h2> -->

  <ul class="nav nav-pills nav-radios">
    <li role="presentation" ng-class="{'active': volc.votesType == 'confirmed'}">
      <input type="radio" ng-model="volc.votesType" value="confirmed" id="confirmed-votes" ng-change="volc.getVotes(volc.votesType)">
      <label for="confirmed-votes">Confirmed votes list</label>
    </li>
    <li role="presentation" ng-class="{'active': volc.votesType == 'all'}">
      <input type="radio" ng-model="volc.votesType" value="all" id="all-votes" ng-change="volc.getVotes(volc.votesType)">
      <label for="all-votes">All votes list</label>
    </li>
  </ul>
  <table class="table table-striped table-custom">
    <tr>
      <th>Voting</th>
      <th>Client</th>
      <th>Packet size</th>
      <th>Status</th>
    </tr>
    <tr ng-repeat="voting in volc.votesList">
      <td>
        <strong>{{voting.votingId}}</strong>
      </td>
      <td>
        {{voting.clientId}}
      </td>
      <td>
        {{voting.packetSize}}
      </td>
      <td>
        <span class="label" ng-class="voting.status == 'OK' ? 'label-success' : 'label-danger'">{{voting.status}}</span>
      </td>
    </tr>
  </table>
  <a ui-sref="votingList" class="btn btn-default">Back to Votings list</a>
</div>
